@use "../layout/CertGallery/gallery";
@use "../layout/Skills/skills";
@use "../layout/Portfolio/portfolio";


#portfolio #about #skills #credentials {
  scroll-margin: 100em;
}

body {
  background-image: url(../data/assets/background/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  background-color: rgba(224, 221, 221, 0.463);
  background-blend-mode: color;
}

//*********************CAROUSELS***************************//

@media screen and (min-width: 568px) {
.card-wrapper {
  display: flex;
}

.card {
  margin: 0 .5em;
  width: calc(100%/3);
  height: 100%;
}

// .image-wrapper {
//   height: 22vw;
//   // margin: auto; 
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
}

@media screen and (max-width: 567px) {
  .card:not(:first-child) {
    display: none;
  }
}

// .image-wrapper image{
//   max-width: 100%;
//   max-height: 100%;
// }

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  height: 100%;
  width: 18rem;
  margin: 10px;
  border: none; 
  border-radius: 0%;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

// .carousel-inner {
//   padding: 1em;
// }

// .carousel-control-prev, .carousel-control-next {
//   background-color: #e1e1e1;
//   width: 6vh;
//   height: 6vh;
//   border-radius: 50%;
//   top: 50%;
//   transform: translateY(-50%);
// }

// .carousel-control-prev span,
// .carousel-control-next span {
//   width: 1.5rem;
//   height: 1.5rem;
// }


//************************************************//

